.button-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}

.button-container .row {
  display: table-row;
}

.button-container .row > * {
  display: table-cell;
}

.command {
  background-color: #ddd;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.command:active {
  background-color: #bbb;
}

.command:before {
  content: "";
  background: transparent url(arrow-down.png) center center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  float: left;
}

.command.forward:before {
  transform: rotate(180deg);
}

.command.right:before {
  transform: rotate(-90deg);
}

.command.left:before {
  transform: rotate(90deg);
}
